{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "globals": {
        "__base": true,
        "__baseName": true
    },
    "rules": {
        "indent": ["error", 4],
        "semi": ["warn", "never"],
        "linebreak-style": 0,
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "no-param-reassign": "off",
        "no-unused-expressions": "off",
        "global-require": "off"
    }
}